extends layout

block content
	#postList
		table.table.table-striped
			thead
				th Title
				th
				th Actions
				th
			tbody
		a.btn.btn-primary(href="/posts/addpost") Create Post
block sidebar
	if (!user)
		a.btn.btn-primary.btn-md(href="/login") Login
		&nbsp;
		a.btn.btn-success.btn-md(href="/signup") SignUp
	if (user)
		p You are currently logged in as #{user.username}
		a.btn.btn-success.btn-md(href="/logout") Logout