doctype html
html
	head
		title Login
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/signin.css')
	body
		.container
			form.form-signin(role='form', method="post", action="/signup")
				h2.form-signin-heading Signup
				input.form-control#inputUsername(type='text', placeholder='Email', name="username")
				input.form-control#inputPassword(type='password', placeholder='Password', name="password")
				//- input.form-control#inputName(type='text', placeholder='Display Name', name="display_name")
				</br>
				a.btn.btn-success.btn-md(href='/login') Login
				</br></br>
				button.btn.btn-lg.btn-primary.btn-block(type="submit") Sign Up