extends ../layout

block content
	include ../message.jade
	h4 Create a new post
	#createPost
		form(name="createpost",method="post", action="/posts/addpost")
			.form-group
				input#author.form-control(type="hidden", value="#{user._id}", name="author")
			.form-group
				label Title
				input#titlePost.form-control(type="text", placeholder="Title of Post", name="title")
			.form-group
				label Content
				textarea#contentPost.form-control(rows="10", name="content")
			.form-group
				label Tags
				textarea#tagsPost.form-control(rows="2", name="tags")
			button#btnAddPost.btn.btn-primary(type="submit") Create